on init
    #create cpuset for camera background
    mkdir /dev/cpuset/camera-daemon/limit-level0
    copy /dev/cpuset/cpus /dev/cpuset/camera-daemon/limit-level0/cpus
    copy /dev/cpuset/mems /dev/cpuset/camera-daemon/limit-level0/mems
    mkdir /dev/cpuset/camera-daemon/limit-level1
    copy /dev/cpuset/cpus /dev/cpuset/camera-daemon/limit-level1/cpus
    copy /dev/cpuset/mems /dev/cpuset/camera-daemon/limit-level1/mems
    mkdir /dev/cpuset/camera-daemon/limit-level2
    copy /dev/cpuset/cpus /dev/cpuset/camera-daemon/limit-level2/cpus
    copy /dev/cpuset/mems /dev/cpuset/camera-daemon/limit-level2/mems
    mkdir /dev/cpuset/camera-daemon/limit-level3
    copy /dev/cpuset/cpus /dev/cpuset/camera-daemon/limit-level3/cpus
    copy /dev/cpuset/mems /dev/cpuset/camera-daemon/limit-level3/mems



    chown system system /dev/cpuset/camera-daemon/limit-level0
    chown system system /dev/cpuset/camera-daemon/limit-level0/tasks
    chown system system /dev/cpuset/camera-daemon/limit-level0/cpus
    chown system system /dev/cpuset/camera-daemon/limit-level0/cgroup.procs
    chown system system /dev/cpuset/camera-daemon/limit-level1
    chown system system /dev/cpuset/camera-daemon/limit-level1/tasks
    chown system system /dev/cpuset/camera-daemon/limit-level1/cpus
    chown system system /dev/cpuset/camera-daemon/limit-level1/cgroup.procs
    chown system system /dev/cpuset/camera-daemon/limit-level2
    chown system system /dev/cpuset/camera-daemon/limit-level2/tasks
    chown system system /dev/cpuset/camera-daemon/limit-level2/cpus
    chown system system /dev/cpuset/camera-daemon/limit-level2/cgroup.procs
    chown system system /dev/cpuset/camera-daemon/limit-level3
    chown system system /dev/cpuset/camera-daemon/limit-level3/tasks
    chown system system /dev/cpuset/camera-daemon/limit-level3/cpus
    chown system system /dev/cpuset/camera-daemon/limit-level3/cgroup.procs

    chmod 0664 /dev/cpuset/camera-daemon/limit-level0/tasks
    chmod 0664 /dev/cpuset/camera-daemon/limit-level0/cpus
    chmod 0664 /dev/cpuset/camera-daemon/limit-level1/tasks
    chmod 0664 /dev/cpuset/camera-daemon/limit-level1/cpus
    chmod 0664 /dev/cpuset/camera-daemon/limit-level2/tasks
    chmod 0664 /dev/cpuset/camera-daemon/limit-level2/cpus
    chmod 0664 /dev/cpuset/camera-daemon/limit-level3/tasks
    chmod 0664 /dev/cpuset/camera-daemon/limit-level3/cpus
    chmod 0664 /dev/cpuset/camera-daemon/limit-level0/cgroup.procs
    chmod 0664 /dev/cpuset/camera-daemon/limit-level1/cgroup.procs
    chmod 0664 /dev/cpuset/camera-daemon/limit-level2/cgroup.procs
    chmod 0664 /dev/cpuset/camera-daemon/limit-level3/cgroup.procs

    mkdir /dev/cpuctl/camera-daemon/limit-level0
    chown system system /dev/cpuctl/camera-daemon/limit-level0
    chown system system /dev/cpuctl/camera-daemon/limit-level0/tasks
    chown system system /dev/cpuctl/camera-daemon/limit-level0/cgroup.procs
    chown system system /dev/cpuctl/camera-daemon/limit-level0/cpu.shares
    chmod 0660 /dev/cpuctl/camera-daemon/limit-level0/tasks
    chmod 0660 /dev/cpuctl/camera-daemon/limit-level0/cgroup.procs
    chmod 0660 /dev/cpuctl/camera-daemon/limit-level0/cpu.shares

    mkdir /dev/cpuctl/camera-daemon/limit-level1
    chown system system /dev/cpuctl/camera-daemon/limit-level1
    chown system system /dev/cpuctl/camera-daemon/limit-level1/tasks
    chown system system /dev/cpuctl/camera-daemon/limit-level1/cgroup.procs
    chown system system /dev/cpuctl/camera-daemon/limit-level1/cpu.shares
    chmod 0666 /dev/cpuctl/camera-daemon/limit-level1/tasks
    chmod 0660 /dev/cpuctl/camera-daemon/limit-level1/cgroup.procs
    chmod 0660 /dev/cpuctl/camera-daemon/limit-level1/cpu.shares

    chown cameraserver cameraserver /dev/cpuctl/camera-daemon/cpu.shares
    chown cameraserver cameraserver /dev/cpuctl/camera-daemon/tasks
    chmod 0666 /dev/cpuctl/camera-daemon/cpu.shares
    chmod 0666 /dev/cpuctl/camera-daemon/tasks

    # Create a memcg group for camera processes
    mkdir /dev/memcg/camera/ 0755 system system
    write /dev/memcg/camera/memory.swappiness 100
    write /dev/memcg/camera/memory.use_hierarchy 1
    mkdir /dev/memcg/camera/app 0755 system system
    mkdir /dev/memcg/camera/server 0755 system system
    mkdir /dev/memcg/camera/provider 0755 system system
    mkdir /dev/memcg/camera/limit 0755 system system
    chmod 0666 /dev/memcg/camera/limit/cgroup.procs

on late-init
    write /dev/cpuset/camera-daemon/limit-level0/cpus 0-1
    write /dev/cpuset/camera-daemon/limit-level1/cpus 0-2
    write /dev/cpuset/camera-daemon/limit-level2/cpus 0-3
    write /dev/cpuset/camera-daemon/limit-level3/cpus 0-4
    write /dev/cpuctl/camera-daemon/limit-level0/cpu.shares 2048
    write /dev/cpuctl/camera-daemon/limit-level1/cpu.shares 4096
    write /dev/memcg/camera/provider/memory.soft_limit_in_bytes 36818038505472
    write /dev/memcg/camera/limit/memory.limit_in_bytes 300m
    write /dev/memcg/camera/limit/memory.oom_control 1

on early-boot
    mkdir /data/miuilog/camera 0775 system system

on property:persist.vendor.camera.TriggerSimpleperf=1 && property:persist.vendor.camera.SimpleperfDebug=1
  exec_background system/xbin/su -c "/system/bin/simpleperf record -p ${persist.vendor.camera.TriggerSimpleperfPid} --call-graph fp --duration 5 -o /data/vendor/camera/offlinelog/${persist.vendor.camera.TriggerSimpleperfPid}_${persist.vendor.camera.TriggerSimpleperfTime}_perf.data"

on property:persist.vendor.camera.TriggerPerfettoStart=1 && property:persist.vendor.camera.PerfettoDebug=1
exec_background /system/bin/perfetto --detach=traceur --txt -c /system_ext/etc/camera_perfetto.cfg -o /data/misc/perfetto-traces/trace_file${persist.vendor.camera.TriggerPerfettoTime}.perfetto-trace

on property:persist.vendor.camera.TriggerPerfettoStop=1 && property:persist.vendor.camera.PerfettoDebug=1
exec_background /system/bin/perfetto --stop --attach=traceur
