# File: sxr.rc
#
# Copyright (c) 2019-2020 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.

on post-fs-data
    mkdir /data/misc/sxr 0770 system system

# Add sxrservice socket for sxrservice
service sxrd /system_ext/bin/sxrservice
    class late_start
    user system
    group system camera graphics inet usb
    socket sxrservice stream 0666 system system
    capabilities SYS_NICE

#on boot
#    chmod 0777 /dev/at_usb0
#    killall port-bridge
